.authForm {
    height: calc(100% - 60px);
    width: calc(100% - 40px);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signin,
.signup {
    height: calc(60px - 4px);
    width: calc(450px - 4px);
    border: 2px solid var(--main-color);
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.signin {
    background-color: var(--main-color);
    color: var(--sub-color);
}

.signup {
    background-color: var(--sub-color);
    color: var(--main-color);
}