.desktopHome {
    height: calc(100vh - 20px);
    width: calc(100vw - 30px);
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    overflow: auto;
}

.get_start {
    height: 220px;
    width: 490px;
}