.page {
    height: 100%;
    width: 100%;
}

.timetable_field {
    height: 100%;
    width: 100%;
}

.page_select {
    height: 80px;
    width: 100%;
}

/*
    min-height: 700px;
    min-width: 500px;
*/