:root {
    --main-color: #d54728;
    --main-color-light: #ffb4a3;
    --main-color-light-light: #ffe0d9;
    --sub-color: #FFFFFF;
    --border-dash: 1px dashed rgba(0, 0, 0, 0.4);
    --border-solid: 1px solid rgba(98, 98, 98, 0.4);
    --sub-background-color: #fafafa;
    --table-attribute-background: #f2f2f2;
    --table-row-background: white;


    --basic-white: #fff;
    --body-bg-color: #e5ecef;
    --theme-bg-color: #fafafb;
    --body-font: "", sans-serif;
    --body-color: #2f2f33;
    --alert-bg-color: #e9f3ff;
    --subtitle-color: #83838e;

    --active-font-color: white;
    --active-font-hover-color: black;
    --active-color: #2260ff;
    --active-hover-color: #a4beff;
    --active-positive-color: #08b66d;
    --active-positive-hover-color: #b9ffe2;
    --active-negative-color: #e06060;
    --active-negative-hover-color: #ffbbbb;
    --disable-color: #525252;
    --disable-hover-color: rgb(201, 201, 201)
}

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}